{% extends 'base_template.html' %}
{% load static %}

{# -------- CSS -------- #}
{% block css %}
<link rel="stylesheet" href="{% static 'css/login/style.css' %}">
{% endblock %}

{# -------- Contenu HTML -------- #}
{% block content %}
<style>
    footer{
        display: none;
    }
    @media (max-width: 480px) {
      .login-container{
         margin-left: 12px;
          margin-right: 12px;
        }
         
        
    }
    @media (max-width: 768px) {
        .login-container{
          margin-left: 12px;
          margin-right: 12px;
        }
         
        
    }
    @media (max-width: 900px) {
        .login-container{
          margin-left: 12px;
          margin-right: 12px;
        }
        
       
    }
   
</style>

<div style="width:100%;height:100%;display:flex;flex-direction:column;align-items:center;justify-content:center">

<div class="login-container">
    <h1>Connexion</h1>
    <form method="post" action="">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">Email</label>
            <div class="input-wrapper">
                <span class="icon">&#9993;</span>
                <input type="email" id="email" name="email" placeholder="" required>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <div class="input-wrapper">
                <span class="icon"><i class="fas fa-lock"></i></span>
                <input type="password" id="password" name="password" placeholder="" required>
                <span class="eye-icon" onclick="togglePasswordVisibility()"><i class="fa-solid fa-eye-slash"></i></span>
            </div>
        </div>
        <button type="submit" class="login-button">Se connecter</button>
    </form>
    <div class="signup-link">
        Pas de compte ? <a href="{% url 'registre' %}">Inscrivez-vous</a>
    </div>
</div>

</div>
<script>
    function togglePasswordVisibility() {
        const passwordField = document.getElementById('password');
        const eyeIcon = document.querySelector('.eye-icon');
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            eyeIcon.innerHTML = '<i class="fa-solid fa-eye"></i>';
        } else {
            passwordField.type = 'password';
            eyeIcon.innerHTML = '<i class="fa-solid fa-eye-slash"></i>';
        }
    }
</script>
{% endblock %}




